
.cal-button {
  width: 20%;
  height: 50px;
  padding-left: 5px;
}

.cal-button-div {
  margin-left: 10px;
}

.equal-button {
  width: 83%;
}
.upper-div {
  width: 80%;
  //margin: 0 auto;
  margin-left: 33px;
}
//.upper-div ion-button {
//  margin-left: 3px;
//}
.cut-button {
  width: 48%;
}
.mod-button {
  width: 30%;
}
.back-space {
  width: 48%;
}
.input-textarea {
  height: 80px;
}
